@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f5f5f5;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.slide-enter {
  opacity: 0;
  transform: translateX(100px);
}

.slide-active {
  opacity: 1;
  transform: translateX(0);
}

.slide-exit {
  opacity: 0;
  transform: translateX(-100px);
}